@use "sass:map";
@use "sass:math";

// Breakpoint map
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Button height
$button-height: 42px;

$toggle-height: 24px;

// Container width ratio
$container-ratio: 0.9;

// Container widths derived from breakpoints
$container-widths: (
  sm: math.floor(map.get($breakpoints, sm) * $container-ratio),
  md: math.floor(map.get($breakpoints, md) * $container-ratio),
  lg: math.floor(map.get($breakpoints, lg) * $container-ratio),
  xl: math.floor(map.get($breakpoints, xl) * $container-ratio),
  xxl: math.floor(map.get($breakpoints, xxl) * $container-ratio),
);

// Container grid columns derived from breakpoints
$container-grid-columns: (
  sm: 6,
  md: 9,
  lg: 12,
  xl: 12,
  xxl: 12,
);

$theme-colours: (
  dark-primary: #171717,
  dark-secondary: #202020,
  light-primary: #ffffff,
  light-secondary: #f0f0f0,
  highlight-green: #c8ef7a,
  highlight-blue: #56cbf9,
  highlight-orange: #f3a738,
  highlight-pink: #ff729f,
  highlight-yellow: #fdd835,
  highlight-purple: #ce93d8,
);

$theme-header-height: 54px;

$plate-colours: (
  red: #e06b6b,
  blue: #6fa8dc,
  yellow: #e8d27a,
  green: #7fbf9b,
  black: #414141,
  off-white: #e6e6e3,
);

$series-colours: (
  a: map.get($theme-colours, "highlight-green"),
  b: map.get($theme-colours, "highlight-blue"),
  c: map.get($theme-colours, "highlight-orange"),
  d: map.get($theme-colours, "highlight-pink"),
  e: map.get($theme-colours, "highlight-purple"),
);
