@use "sass:color";
@use "../variables" as *;
@use "../extensions/rounded-corners" as *;

.button {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background: transparent;
  font-size: 12px;
}

.button--pill-minus,
.button--pill-plus {
  @extend %rounded-circle;
  width: $button-height * 0.9;
  height: $button-height * 0.9;
  border: 1px solid currentColor;
  color: inherit;
  &[disabled] {
    opacity: 0.33;
    cursor: not-allowed;
  }
}

.button--pill {
  @extend %rounded-pill;
  border: 1px solid currentColor;
  color: inherit;
  height: $button-height;
  @each $name, $value in $theme-colours {
    &.button--#{$name} {
      background: color.adjust($value, $alpha: -0.95);
      color: $value;
      border-color: $value;
      &:hover,
      &:focus {
        background: color.adjust($value, $alpha: -0.85);
      }
    }
  }
}

.button--start-workout {
  @extend %rounded-lg;
  border: 1px solid currentColor;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.button--danger {
  color: var(--light-primary);
  font-weight: 900;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: var(--light-primary);
    color: var(--dark-primary);
  }
}
