@use "../extensions/rounded-corners" as *;
@use "../extensions/padding" as *;

.calculator {
  @extend %padding-md;
  @extend %rounded;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  width: 100%;
  height: auto;
  max-width: 380px;
  margin: 0 auto;
}

.calculator__plate-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

.calculator__toggles {
  border-top: 1px solid rgba(255, 255, 255, 0.035);
  border-bottom: 1px solid rgba(255, 255, 255, 0.035);
  display: flex;
  flex-direction: column;
}

.calculator__toggles-item {
  padding: 0.65rem 0;
  & + .calculator__toggles-item {
    border-top: 1px solid rgba(255, 255, 255, 0.035);
  }
}

.calculator__total-weight {
  font-size: 42px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.25rem;
  line-height: 1;
  &-unit {
    font-size: 66%;
    font-weight: 900;
  }
}
