@use "../extensions/rounded-corners" as *;
@use "../extensions/padding" as *;

.calculator {
  @extend %padding-md;
  @extend %rounded;
  background: var(--dark-secondary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  margin: 0 auto;
  .toggle {
    padding: 0.5rem 0;
  }
}

.calculator__plate-rack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.75rem;
  row-gap: 1rem;
}

.calculator__toggles {
  border-top: 1px solid rgba(255, 255, 255, 0.035);
  border-bottom: 1px solid rgba(255, 255, 255, 0.035);
  display: flex;
  flex-direction: column;
  .toggle + .toggle {
    border-top: 1px solid rgba(255, 255, 255, 0.035);
  }
}

.calculator__total-weight {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.25rem;
  line-height: 1;
  &-unit {
    font-size: 66%;
    font-weight: 900;
  }
}
