@use "../extensions/rounded-corners" as *;
@use "../extensions/padding" as *;

.exercise {
  @extend %rounded-md !optional;
  @extend %padding-md !optional;
  background-color: var(--dark-secondary);
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0 0.75rem;
  }
  &__set-legend {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.025rem;
  }
  &__set-list {
    border-top: 1px solid rgba(255, 255, 255, 0.035);
    border-bottom: 1px solid rgba(255, 255, 255, 0.035);
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.75rem 0;
  }
}
