@use "sass:color";
@use "sass:map";
@use "../variables" as *;
@use "../extensions/rounded-corners" as *;

$plate-size-large: 100%;
$plate-size-small: 80%;

.plate {
  color: var(--light-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: auto; // Fill grid cell (can be non-square)
  position: relative;
  gap: 0.35rem;
}

.plate__button-add {
  @extend %rounded-circle;
  color: inherit;
  position: relative;
  width: min($plate-size-large, $plate-size-large); // Will be constrained by container
  aspect-ratio: 1 / 1; // Perfect square
  max-width: $plate-size-large;
  max-height: $plate-size-large;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  &::after,
  &::before {
    @extend %rounded-circle;
    border: 2px solid color.adjust(map.get($theme-colours, "light-primary"), $alpha: -0.66);
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: 0;
  }
  &::after {
    width: 82.5%;
    height: 82.5%;
  }
  &[data-weight="1.25"],
  &[data-weight="2.5"],
  &[data-weight="5"] {
    width: min($plate-size-small, $plate-size-small);
    max-width: $plate-size-small;
    max-height: $plate-size-small;
    font-size: 80%;
  }
  &[data-weight="1.25"],
  &[data-weight="2.5"] {
    .plate__weight-marker {
      flex-flow: column;
    }
    .plate__unit {
      font-size: 80%;
    }
  }
  @each $name, $value in $plate-colours {
    &[data-colour="#{$name}"] {
      background: color.adjust($value, $alpha: -0.9);
      &::after {
        border-color: color.adjust($value, $alpha: -0.8);
      }
      &::before {
        border-color: color.adjust($value, $alpha: -0.5);
      }
      &:hover {
        background: color.adjust($value, $alpha: -0.8);
      }
    }
  }
}

.plate__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.plate__controls {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

.plate__control-button {
  font-size: 18px;
}

.plate__count {
  background: var(--dark-primary);
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  font-weight: 900;
  color: inherit;
}

.plate__weight-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  flex-flow: row wrap;
  position: relative;
}
