@use "sass:color";
@use "../variables" as *;

.plate {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
}

.plate__button-add {
  border: 2px solid var(--background);
  width: 85%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  &[data-weight="5"],
  &[data-weight="2.5"],
  &[data-weight="1.25"] {
    width: 65%;
    .plate__content-container {
      flex-flow: column;
      padding: 8% 0;
    }
    .plate__weight-marker {
      flex-flow: row;
      align-items: baseline;
    }
    .plate__weight-marker-unit {
      font-size: 66%;
    }
  }
  @each $colour, $value in $plate-colours {
    &[data-colour="#{$colour}"] {
      background: color.adjust($value, $lightness: -12.5%);
      .plate__circle-big {
        background: color.adjust($value, $lightness: -17.5%);
      }
      .plate__circle-small {
        background: color.adjust($value, $lightness: -10%);
      }
    }
  }
}

.plate__circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.plate__circle-big {
  position: absolute;
  width: 90%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.plate__circle-small {
  position: absolute;
  width: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.plate__circle-hole {
  background: var(--background);
  position: absolute;
  width: 13.5%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.plate__content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  padding: 0 8%;
}

.plate__weight-marker {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 900;
  font-size: 2.5vw;
  text-transform: uppercase;
  &.right {
    transform: rotate(180deg);
  }
}

.plate__weight-marker-unit {
  font-size: 50%;
}
