@use "../variables" as *;
@use "../mixins/breakpoints" as *;

.plate-rack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  // border: 1px solid rgba(255, 255, 255, 0.15);
  // background: rgba(255, 255, 255, 0.05);
  overflow: hidden;
}
