.set {
  color: currentColor;
  position: relative;
  padding: 1rem 0;
  font-size: 12px;
  font-weight: 600;
  & + .set {
    border-top: 1px solid rgba(255, 255, 255, 0.035);
  }
  input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    background: var(--dark-primary);
    color: currentColor;
    outline: none;
    padding: 0.25rem;
    margin: 0;
    width: auto;
    min-width: 0;
    flex-shrink: 1;
    text-align: center;
    width: 100%;

    // Hide number input spinners
    &[type="number"] {
      touch-action: manipulation;
      appearance: textfield; // Standard property
      -moz-appearance: textfield; // Firefox
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none; // Chrome, Safari, Edge
        appearance: none; // Standard property
        margin: 0;
      }
    }
    &[name="weight-per-side"] {
      max-width: 60px; /* Adjust this value as needed */
    }
    &[name="weight"] {
      max-width: 60px; /* Adjust this value as needed */
    }
    &[name="reps"] {
      max-width: 30px; /* Adjust this value as needed */
    }
    &:focus {
      border-color: var(--series-colour);
    }
  }
  &__button-close {
    opacity: 0.35;
    height: 10px;
    width: 10px;
    .button__stroke {
      height: 1px;
    }
    &:focus,
    &:hover {
      opacity: 1;
    }
  }
  &__count-value {
    color: var(--series-colour);
    font-weight: 900;
  }
}
