.set {
  color: currentColor;
  position: relative;
  padding: 0.5rem 0;
  font-size: 12px;
  font-weight: 600;
  & + .set {
    border-top: 1px solid rgba(255, 255, 255, 0.035);
  }
  input {
    background: var(--dark-primary);
    color: currentColor;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: 0;
    max-width: 45px; /* Adjust this value as needed */
    flex-shrink: 1;
    text-align: right;
  }
  &__button-remove {
    border-left: 1px solid rgba(255, 255, 255, 0.035);
  }
}
