@use "sass:map";
@use "../variables" as *;
@use "../extensions/button-themes" as *;
@use "../extensions/padding" as *;
@use "../extensions/rounded-corners" as *;
@use "../mixins/buttons" as *;

.workout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;

  &__add-exercise {
    @extend %padding-md;
    @extend %rounded-md;
    background-color: var(--dark-secondary);
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }

  &__add-exercise-options {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    width: 100%;
    select {
      width: 100%;
    }
  }

  &__button-add-exercise {
    margin: 0 auto;
  }

  &__exercises,
  &__series-exercises {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__exercises {
    gap: 3rem;
  }

  &__series {
    @each $name, $value in $series-colours {
      &[data-series="#{$name}"] {
        --series-colour: #{$value};
        .exercise__button-add-set {
          @include button-colour-theme($value);
        }
      }
    }
  }

  &__series-header {
    margin-bottom: 1.5rem;
  }

  &__series-exercises {
    gap: 1.5rem;
  }

  &__series-title-letter {
    color: var(--series-colour);
  }
}
