@use "sass:map";
@use "../variables" as *;
@use "../mixins/breakpoints" as *;

:root {
  @each $colour, $value in $theme-colours {
    --#{$colour}: #{$value};
  }
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  color: var(--light-primary);
  background: var(--dark-primary);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-weight: 400;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, sans-serif;
  }
}

footer {
  flex-shrink: 0;
}

main {
  flex: 1 0 auto;
  padding: 2rem 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
