@use "sass:map";
@use "../variables" as *;
@use "../mixins/breakpoints" as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 28px;
  &--flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &--grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }
}

@each $size, $columns in $container-grid-columns {
  @include bp-min-width($size) {
    .container--grid {
      grid-template-columns: repeat($columns, 1fr);
    }
  }
}

@each $size, $width in $container-widths {
  @include bp-min-width($size) {
    .container {
      max-width: $width;
      @if $size == sm {
        padding: 0;
      }
    }
  }
}
