@use "sass:map";
@use "../variables" as *;
@use "../mixins/breakpoints" as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 28px;
}

@each $size, $width in $container-widths {
  @include bp-min-width($size) {
    .container {
      max-width: $width;
      @if $size == sm {
        padding: 0;
      }
    }
  }
}
