@use "../extensions/animations" as *;
@use "../extensions/padding" as *;
@use "../variables" as *;

.drawer-calculator {
  @extend %animation-drawer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-secondary);
  z-index: 8888;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .calculator {
    padding-top: $theme-header-height * 1.5;
  }

  &--open {
    transform: translateY(0);
  }

  &--closed {
    transform: translateY(-100%);
  }
}
