@use "../extensions/animations" as *;
@use "../extensions/padding" as *;
@use "../variables" as *;

.drawer-calculator {
  @extend %animation-drawer;
  background: var(--dark-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;

  &--open {
    transform: translateY(0);
  }

  &--closed {
    transform: translateY(-100%);
  }

  &__button-close {
    width: 20px;
    height: 20px;
  }

  &__header {
    height: $theme-header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-flow: column;
    padding: 2rem 0;
  }

  .calculator__button-clear {
    max-width: none;
  }
}
