@use "../extensions/padding" as *;

.header {
  display: none;
  background: var(--dark-primary);
  border-bottom: 1px solid var(--dark-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 12px 0;

  h1 {
    color: var(--highlight-orange);
    line-height: 1;
    font-size: 1.5rem;
    font-style: italic;
  }
}
