@use "../extensions/animations" as *;
@use "../extensions/padding" as *;

.header {
  @extend %animation-drawer;
  background: var(--dark-primary);
  color: var(--light-primary);
  border-bottom: 1px solid var(--dark-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 12px 0;

  &__button-burger {
    color: inherit;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 28px;
    height: 18px;
    margin-left: auto;
    &-stroke {
      width: 100%;
      height: 2px;
      background: currentColor;
    }
  }

  &__title {
    line-height: 1;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
  }
}
