@use "../extensions/animations" as *;
@use "../variables" as *;

.main {
  @extend %animation-drawer;
  padding-top: $theme-header-height;
  flex: 0 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
