.text {
  &--h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  &--rte {
    font-weight: 300;
    line-height: 1.35;
    p {
      margin-bottom: 1rem;
    }
    & *:last-child {
      margin-bottom: 0;
    }
  }
}
