.text {
  &--h1,
  &--h2,
  &--h3,
  &--h4,
  &--h5,
  &--h6 {
    margin: 0;
    padding: 0;
  }

  &--h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
  }

  &--rte {
    font-weight: 300;
    line-height: 1.35;
    p {
      margin-bottom: 1rem;
    }
    & *:last-child {
      margin-bottom: 0;
    }
  }
}
